minecraft/saves/
instance.cfg
minecraft/config/DynamicLights_onFire.cfg
minecraft/config/IC2.ini
minecraft/config/HardcoreEnderExpansion.clientsave.cfg
minecraft/config/InvTweaks.cfg
minecraft/config/UniqueNames.txt
minecraft/config/angelica-modules.cfg
minecraft/config/hodgepodgeEarly.properties
minecraft/config/splash.properties b/minecraft/config/splash.properties
minecraft/coretweaks/cache/classTransformerLite.cache b/minecraft/coretweaks/cache/
minecraft/coretweaks/out/transformercache_profiler.csv
minecraft/journeymap/
minecraft/logs/
minecraft/minetweaker.log
minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip
minecraft/mods/mcheli/assets/mcheli/lang/en_US.lang
minecraft/mods/mcheli/assets/mcheli/lang/ja_JP.lang
minecraft/mods/mcheli/assets/mcheli/sounds.json
dev-documentation.txt
