# Will NOT replace Tinkers' Construct gravel ores and Nether Ores
#
# Recommended if you don't have ThermalFoundation (ThermalExpansion)

exclusions {
    S:oreCopper <
        TConstruct:GravelOre
        NetherOres:tile.netherores.ore.0
     >
    S:oreLead <
        NetherOres:tile.netherores.ore.0
     >
    S:oreNickel <
        NetherOres:tile.netherores.ore.0
     >
    S:oreSilver <
        NetherOres:tile.netherores.ore.0
     >
    S:oreTin <
        TConstruct:GravelOre
        NetherOres:tile.netherores.ore.0
     >
}


"item replacements" {
    S:ingotCopper=ThermalFoundation
    S:ingotLead=ThermalFoundation
    S:ingotNickel=ThermalFoundation
    S:ingotSilver=ThermalFoundation
    S:ingotTin=ThermalFoundation
    S:ingotBronze=ThermalFoundation
    S:ingotUranium=IC2
    S:ingotZinc=industrialupgrade
    S:ingotTungsten=industrialupgrade
}


replacements {
    S:oreCopper=ThermalFoundation
    S:oreLead=ThermalFoundation
    S:oreNickel=ThermalFoundation
    S:oreSilver=ThermalFoundation
    S:oreTin=ThermalFoundation
    S:oreUranium=IC2
    S:oreZinc=industrialupgrade
    S:oreTungsten=industrialupgrade
}


toomanydanyores {
    # Try increasing this value if you experience lag [range: 1 ~ 1200, default: 100]
    I:"Merge Items Every X Ticks"=100
}
